<!DOCTYPE html>
<html>
<head>
      
   <style type="text/css">
   
   h2{
    
background-color
: lightblue
   
   }
   h3{
   
    
background-color
: #FFFF00
}
   
   </style>


<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body >

<img src="hfpqyV7B-IMG-Dubai-UAE.jpg"width="50%" height="70">
<center>
<h2 >Student Detail</h2>
</center>
<form action=" ">
<div align = "left" > <p></p>
  
     <h3><li><span style="padding-right: 2px; "><i class="fa fa-home"></i></span><a  th:href="@{'/index'}">Show Data </a></li></h3>   
    </div><p></p>
    <tr>
<div align = "left" >   
   <p></p>  <h3><li><a  th:href="@{'/new'}">Insert Student Data </a></li></h3>    
    </div>
    <hr></hr>
    
    
    <tr>
  <center>  <h2>Teacher Detail</h2></center>
<div align = "left" > <p></p>
  
     <h3><li><a  th:href="@{'/index2'}">Show Teacher Data </a></li></h3>    
    </div><p></p>

</tr>
    
    
</tr>
<div align = "left" >   
     <h3><li><a  th:href="@{'/new2'}">Insert Teacher Data</a></li></h3>    
    </div>
</tr>



</form>



</body>
</html>